@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .o-btn--primary,
  .o-btn {
    @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800;
  }

  .o-btn--success.o-btn {
    @apply text-white bg-green-700 hover:bg-green-800 focus:ring-green-300 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800;
  }

  .o-btn--danger.o-btn {
    @apply text-white bg-red-700 hover:bg-red-800 focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900;
  }

  .o-btn--warning.o-btn {
    @apply text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-yellow-300 dark:focus:ring-yellow-900;
  }

  .o-btn--info.o-btn {
    @apply text-gray-900 bg-white border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 border focus:z-10;
  }

  .o-btn--disabled.o-btn {
    @apply text-white bg-blue-400 dark:bg-blue-500;
  }

  .o-btn--inverted.o-btn,
  .o-btn--inverted-primary.o-btn {
    @apply text-gray-900 bg-white hover:bg-gray-100 border border-gray-200 focus:ring-gray-100 dark:focus:ring-gray-600 dark:bg-gray-800 dark:border-gray-700 dark:text-white dark:hover:bg-gray-700;
  }

  .o-btn--rounded {
    @apply rounded-full;
  }

}